{{title model.name}}

<h2 style="display: flex; flex-direction: row; align-items: center;">
  {{model.name}}

  <span class="u-flex"></span>

  {{#link-to "world.edit" model tagName="button" classNames="md-default-theme md-button"}}
    <span disabled="false">
      {{paper-icon "edit"}}

      Edit World
    </span>
  {{/link-to}}

  {{#link-to "world.pois.new" model tagName="button" classNames="md-default-theme md-button md-raised md-accent"}}
    <span disabled="false">
      {{paper-icon "add-box"}}

      Add a POI
    </span>
  {{/link-to}}
</h2>

{{outlet}}
