{{title "POIS"}}

<h2 style="display: flex; flex-direction: row; align-items: center;">
  {{world.name}}

  <span class="u-flex"></span>

  {{#link-to "world.edit" world tagName="button" classNames="md-default-theme md-button"}}
    <span disabled="false">
      {{paper-icon "edit"}}

      Edit World
    </span>
  {{/link-to}}

  {{#link-to "world.pois.new" world tagName="button" classNames="md-default-theme md-button md-raised md-accent"}}
    <span disabled="false">
      {{paper-icon "add-box"}}

      Add a POI
    </span>
  {{/link-to}}
</h2>

{{#paper-content class="md-whiteframe-z2"}}
  {{#paper-list}}
    {{#each model as |poi_item|}}
      {{#link-to "world.poi" poi_item}}
        {{#paper-item class="md-3-line"}}
          <div class="md-list-item-text">
            <h3>
              {{poi_item.name}}
            </h3>
          </div>
        {{/paper-item}}
      {{/link-to}}

      {{paper-divider}}

    {{else}}
      {{#paper-item}}
        No POIS! :(&nbsp;

        {{#link-to "world.pois.new"}}
          Why don't you create one?
        {{/link-to}}
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}

{{outlet}}
